<footer>
    <div class="footer grid">
        <h2>Bize ulaşın</h2>

        <div class="f_block">
            <form method="post" action="#" class="f_form">
                <label>
                    <input type="text" placeholder="İsim">
                </label>

                <label>
                    <input type="tel" placeholder="Telefon numarası">
                </label>

                <label>
                    <input type="email" placeholder="E-mail">
                </label>

                <label>
                    <textarea placeholder="Mesaj"></textarea>
                </label>

                <label>
                    <input type="submit" value="gönder">
                </label>
            </form>

            <div class="iframe">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3479.3608310746854!2d74.57319860022643!3d42.83521748743204!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x389ec9ebd50abdf1%3A0x14ce488dddb2fbdb!2z0JrRi9GA0LPRi9C30YHQutC-LdCi0YPRgNC10YbQutC40Lkg0YPQvdC40LLQtdGA0YHQuNGC0LXRgiAi0JzQsNC90LDRgSI!5e0!3m2!1sru!2skg!4v1494672467555"
                        frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>

        <ul class="information">
            <li>
                <h5>Bizim telefonlar</h5>
                <p>+996 312 49 27 88<br>
                    +996 312 49 27 86</p>
            </li>
            <li>
                <h5>Bizim faks numaralarımız</h5>
                <p>
                    +996 312 49 27 81-89<br>
                    +996 312 49 27 61</p>
            </li>
            <li>
                <h5>Bizim E-mail</h5>
                <p>
                    turkunib@turkunib.org<br>
                    image iro@manas.edu.kg</p>
            </li>
        </ul>
    </div>

    <div class="copyright">
        <div class="grid">
            <span>© 2016 TÜRK KENEŞİ TÜRK ÜNİVERSİTELER BİRLİĞİ</span>
        </div>
    </div>
</footer>
