{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
    <div class="bg1">
        <div class="content1 grid">
            <div class="slider">
                <div class="sl_slide">
                    <img src="{% static 'images/sl_img1.jpg' %}" alt="image">

                    <div class="sl_hover"></div>
                </div>
                <div class="sl_slide">
                    <img src="{% static 'images/sl_img1.jpg' %}" alt="image">

                    <div class="sl_hover"></div>
                </div>
                <div class="sl_slide">
                    <img src="{% static 'images/sl_img1.jpg' %}" alt="image">

                    <div class="sl_hover"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg2">
        <div class="content2 grid">
            <h2>Haberler ve duyurular</h2>

            <div class="news">
                <div class="news_cart">
                    <div class="n_img">
                        <img src="{% static 'images/news_img1.jpg' %}" alt="image">
                    </div>
                    <h4><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h4>

                    <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji ve
                        Eğitim
                        olmak üzere dört Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat,
                        Sosyoloji ve Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar erçevesinde
                        faaliyet
                        yürütmektedir. Araştırmacılara yardımcı Orta </p>
                    <a href="#">Read more</a>
                </div>

                <div class="news_cart">
                    <div class="n_img">
                        <img src="{% static 'images/news_img1.jpg' %}" alt="image">
                    </div>
                    <h4><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h4>

                    <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji ve
                        Eğitim
                        olmak üzere dört Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat,
                        Sosyoloji ve Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar erçevesinde
                        faaliyet
                        yürütmektedir. Araştırmacılara yardımcı Orta </p>
                    <a href="#">Read more</a>
                </div>

                <div class="news_cart">
                    <div class="n_img">
                        <img src="{% static 'images/news_img1.jpg' %}" alt="image">
                    </div>
                    <h4><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h4>

                    <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji ve
                        Eğitim
                        olmak üzere dört Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat,
                        Sosyoloji ve Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar erçevesinde
                        faaliyet
                        yürütmektedir. Araştırmacılara yardımcı Orta </p>
                    <a href="#">Read more</a>
                </div>
            </div>
        </div>
    </div>

    <div class="bg3">
        <div class="content3 grid">
            <h2>Hakkimizda</h2>

            <div class="tabs_content">
                <div class="tabs_img">
                <span>
                    <img src="{% static 'images/tab_img1.jpg' %}" alt="image">
                </span>
                    <span>
                    <img src="{% static 'images/tab_img2.jpg' %}" alt="image">
                </span>
                    <span>
                    <img src="{% static 'images/tab_img3.jpg' %}" alt="image">
                </span>
                    <span>
                    <img src="{% static 'images/tab_img4.jpg' %}" alt="image">
                </span>
                </div>

                <div class="tabs_desc">
                    <ul class="tabs-nav">
                        <li><a href="#tab-1">About us</a></li>
                        <li><a href="#tab-2">Our staff</a></li>
                        <li><a href="#tab-3">Our staff</a></li>
                        <li><a href="#tab-4">Our staff</a></li>
                    </ul>

                    <div class="tabs-stage">
                        <div id="tab-1">
                            <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji
                                ve
                                Eğitim olmak üzere dört Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası
                                İlişkiler, İktisat, Sosyoloji ve Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve
                                bu
                                alanlar erçevesinde faaliyet yürütmektedir. Araştırmacılara yardımcı Orta Orta Asya
                                Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji ve Eğitim
                                olmak üzere dört Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler,
                                İktisat, Sosyoloji ve Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar
                                erçevesinde faaliyet yürütmektedir. Araştırmacılara yardımcı Orta </p>

                            <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji
                                ve
                                Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar erçevesinde faaliyet
                                yürütmektedir. Araştırmacılara yardımcı uzmanlık</p>
                        </div>
                        <div id="tab-2">
                            <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji
                                ve
                                Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar erçevesinde faaliyet
                                yürütmektedir. Araştırmacılara yardımcı uzmanlık</p>
                        </div>
                        <div id="tab-3">
                            <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji
                                ve
                                Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar erçevesinde faaliyet
                                yürütmektedir. Araştırmacılara yardımcı uzmanlık</p>
                        </div>
                        <div id="tab-4">
                            <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji
                                ve
                                Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar erçevesinde faaliyet
                                yürütmektedir. Araştırmacılara yardımcı uzmanlık</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg4">
        <div class="content4 grid">
            <h2>kurucu üyeler</h2>
            <a href="#" class="link">Tüm üyeler</a>

            <div class="members">
                <a href="#" class="member">
                    <div class="m_img">
                        <img src="{% static 'images/university1.jpg' %}" alt="image">
                    </div>
                    <div class="m_desc">
                    <span class="m_logo">
                                            <img src="{% static 'images/u_logo1.png' %}" alt="image">
                    </span>

                        <div class="m_title">
                            <h4>Kırgızistan - Türkiye Manas
                                Üniversitesi</h4>
                        </div>
                    </div>
                </a>

                <a href="#" class="member">
                    <div class="m_img">
                        <img src="{% static 'images/university1.jpg' %}" alt="image">
                    </div>
                    <div class="m_desc">
                    <span class="m_logo">
                        <img src="{% static 'images/u_logo1.png' %}" alt="image">
                    </span>

                        <div class="m_title">
                            <h4>Nahçıvan Devlet Üniversitesi</h4>
                        </div>
                    </div>
                </a>

                <a href="#" class="member">
                    <div class="m_img">
                        <img src="{% static 'images/university1.jpg' %}" alt="image">
                    </div>
                    <div class="m_desc">
                    <span class="m_logo">
                                           <img src="{% static 'images/u_logo3.png' %}" alt="image">
                    </span>

                        <div class="m_title">
                            <h4>Эл-аралык "Визион"
                                университети</h4>
                        </div>
                    </div>
                </a>

                <a href="#" class="member">
                    <div class="m_img">
                        <img src="{% static 'images/university1.jpg' %}" alt="image">
                    </div>
                    <div class="m_desc">
                    <span class="m_logo">
                                           <img src="{% static 'images/u_logo4.png' %}" alt="image">
                    </span>

                        <div class="m_title">
                            <h4>Tajik State University</h4>
                        </div>
                    </div>
                </a>

                <a href="#" class="member">
                    <div class="m_img">
                        <img src="{% static 'images/university1.jpg' %}" alt="image">
                    </div>
                    <div class="m_desc">
                    <span class="m_logo">
                        <img src="{% static 'images/u_logo5.png' %}" alt="image">
                    </span>

                        <div class="m_title">
                            <h4>Bitlis Eren University</h4>
                        </div>
                    </div>
                </a>

                <a href="#" class="member">
                    <div class="m_img">
                        <img src="{% static 'images/university1.jpg' %}" alt="image">
                    </div>
                    <div class="m_desc">
                    <span class="m_logo">
                        <img src="{% static 'images/u_logo6.png' %}" alt="image">
                    </span>

                        <div class="m_title">
                            <h4>Kafkas University</h4>
                        </div>
                    </div>
                </a>

                <a href="#" class="member">
                    <div class="m_img">
                        <img src="{% static 'images/university1.jpg' %}" alt="image">
                    </div>
                    <div class="m_desc">
                    <span class="m_logo">
                    <img src="{% static 'images/u_logo7.png' %}" alt="image">
                    </span>

                        <div class="m_title">
                            <h4>Nevşehir Hacı Bektaş Veli
                                University</h4>
                        </div>
                    </div>
                </a>

                <a href="#" class="member">
                    <div class="m_img">
                        <img src="{% static 'images/university1.jpg' %}" alt="image">
                    </div>
                    <div class="m_desc">
                    <span class="m_logo">
                        <img src="{% static 'images/u_logo8.png' %}" alt="image">
                    </span>

                        <div class="m_title">
                            <h4>I.Arabaev Kyrgyz State University</h4>
                        </div>
                    </div>
                </a>

                <a href="#" class="member">
                    <div class="m_img">
                        <img src="{% static 'images/university1.jpg' %}" alt="image">
                    </div>
                    <div class="m_desc">
                    <span class="m_logo">
                        <img src="{% static 'images/u_logo9.png' %}" alt="image">
                    </span>

                        <div class="m_title">
                            <h4>Eastern University named after
                                Mahmud Kashgari-Barskani</h4>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="bg5">
        <div class="content5 grid">
            <div class="events">
                <h2>Konferanslar</h2>

                <div class="events_block">
                    <div class="event">
                        <div class="date_block">
                            <span>01</span>
                            <span>Haziran</span>
                        </div>
                        <div class="e_desc">
                            <h5>Türk Üniversiteler
                                Birliği Öğrenci Konseyi
                                KTMÜ'de Toplandı</h5>

                            <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji
                                ve
                                Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar erçevesinde faaliyet
                                yürütmektedir. </p>

                            <a href="#">Read more</a>
                        </div>

                    </div>

                    <div class="event">
                        <div class="date_block">
                            <span>01</span>
                            <span>Haziran</span>
                        </div>
                        <div class="e_desc">
                            <h5>Türk Üniversiteler
                                Birliği Öğrenci Konseyi
                                KTMÜ'de Toplandı</h5>

                            <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji
                                ve
                                Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar erçevesinde faaliyet
                                yürütmektedir. </p>

                            <a href="#">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="events">
                <h2>Kongreler</h2>

                <div class="events_block">
                    <div class="event">
                        <div class="date_block">
                            <span>01</span>
                            <span>Haziran</span>
                        </div>
                        <div class="e_desc">
                            <h5>Türk Üniversiteler
                                Birliği Öğrenci Konseyi
                                KTMÜ'de Toplandı</h5>

                            <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji
                                ve
                                Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar erçevesinde faaliyet
                                yürütmektedir. </p>

                            <a href="#">Read more</a>
                        </div>
                    </div>

                    <div class="event">
                        <div class="date_block">
                            <span>01</span>
                            <span>Haziran</span>
                        </div>
                        <div class="e_desc">
                            <h5>Türk Üniversiteler
                                Birliği Öğrenci Konseyi
                                KTMÜ'de Toplandı</h5>

                            <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji
                                ve
                                Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar erçevesinde faaliyet
                                yürütmektedir. </p>

                            <a href="#">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg6">
        <div class="content6 grid">
            <h2>Fotoğraf galerisi</h2>

            <div class="s_slider">
                <div class="min_slide">
                    <img src="{% static 'images/min_slide.jpg' %}" alt="image">
                </div>
                <div class="min_slide">
                    <img src="{% static 'images/min_slide.jpg' %}" alt="image">
                </div>
                <div class="min_slide">
                    <img src="{% static 'images/min_slide.jpg' %}" alt="image">
                </div>
                <div class="min_slide">
                    <img src="{% static 'images/min_slide.jpg' %}" alt="image">
                </div>
                <div class="min_slide">
                    <img src="{% static 'images/min_slide.jpg' %}" alt="image">
                </div>
                <div class="min_slide">
                    <img src="{% static 'images/min_slide.jpg' %}" alt="image">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $('.slider').slick({
            cssEase: 'ease-in',
//        autoplay: true,
            autoplaySpeed: 2000,
            arrows: false,
            dots: true
        });
    </script>
{% endblock %}